<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 align="center">All Users</h2>
<table border="1" align="center" width="30%">
    <tr>
        <th>Age</th>
        <th>Lastname</th>
        <th>Name</th>
        <th>Manupulation</th>
    </tr>
    <th:block th:each="us:${users}">
    <tr>
        <td><h1 th:text="${us.getAge()}"></h1></td>
        <td><h1 th:text="${us.getName()}"></h1></td>
        <td><h1 th:text="${us.getLastname()}"></h1></td>
        <td><h1><input type="submit" value="update" align="center"
                       th:href="@{show/{id}(id=${us.getId()})}" /></h1></td>
    </tr>
    </th:block>
</table>
<br>
<input type="button" value="add new user" align="center"
onclick="window.location.href = 'show/add'" />

</body>
</html>